services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
      POSTGRES_DB: events_db
    ports:
      - "5436:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    environment:
      DATABASE_URL: postgresql+psycopg2://appuser:apppass@db:5432/events_db
    ports:
      - "8002:8000"
    depends_on:
      - db

volumes:
  pgdata:
